doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    title Accueil
  body
    h1 Bienvenue sur l'application d'authentification
    p Vous pouvez vous connecter ou vous inscrire
    ul
      li
        a(href='/api/v1/signin') Connexion
      li
        a(href='/api/v1/signup') Inscription
