doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    title Inscription
  body
    h1 Inscription

    if response
      p #{response}

    form(action='/api/v1/signup', method='post')
      div
        label(for='email') Email
        input(type='email', id='email', name='email', required)
      div
        label(for='password') Mot de passe
        input(type='password', id='password', name='password', required)
      button(type='submit') S'inscrire
