doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    title Connexion

  body
    h1 Connexion
    form(action='/api/v1/signin', method='post')
      div
        label(for='email') Email
        input(type='email', id='email', name='email', required)
      div
        label(for='password') Mot de passe
        input(type='password', id='password', name='password', required)
      button(type='submit') Se connecter
